<!doctype html>
<html class="no-js" ng-app="KenahootApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kenahoot | Home</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  
  <body ng-cloak> <!-- ng-cloak hides curly braces, preventing them from appearing when the app loads -->
    
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    

    <!-- Hero wrapper -->
    <div class="col-sm-2 col-lg-4"></div>

    <!-- Problem Panel -->
    <div ng-controller="KenahootCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page">
      
      <h1>QUIZ TIME</h1>
      <!-- Form Panel -->
      <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate>
        <!-- Question Panel -->
        <label for="question">Question: </label>
          <br />
        <div class="form-group">
          <label for="question">{{ctrl.quiz.question}}</label>
        </div>

        <!-- Multiple choice answer Panel -->
        <div class="form-group">
          <label for="answer">Answers: </label>
          <br />
          <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.op1.value}}" /> {{ctrl.quiz.op1.name}}
          <br />
          <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.op2.value}}" /> {{ctrl.quiz.op2.name}}
          <br />
          <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.op3.value}}" /> {{ctrl.quiz.op3.name}}
          <br />
          <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{ctrl.quiz.op4.value}}" /> {{ctrl.quiz.op4.name}}
          <br />
        </div>

        <!-- Comments Panel -->
        <div class="form-group">
          <label for="comments">Comments: </label>
          <input id="comments" name="comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control">
        </div>

        <!-- Submit Button -->
        <div class="form-group">
          <hr />
          <input id="submit" name="submit" type="submit" class="btn btn-success" /> {{ctrl.finalanswer.message}}
        </div>

      </form>
    </div> <!-- End of problem panel -->

      


    <script src="/bower_components/jquery/dist/jquery.min.js"> 
    </script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script src="/bower_components/angular/angular.min.js">
    </script>
    <script src="/js/script.js">
    </script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; 
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>